body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.calculator-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.calculator-form {
  background-color: #00c2e8;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 0 10px #ccc;
  width: 500px;
  text-align: start;
}

.calculator-title {
  margin: 0 0 30px;
  font-size: 32px;
  padding: 5px;
  color: white;
}

.form-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.form-group {
  display: flex;
  flex-direction: row;
  margin-bottom: 20px;
  width: 100%;
}

.form-label {
  font-size: 22px;
  font-weight: 600;
  margin: 10px 0 5px;
  text-align: left;
  width: 100%;
}

.form-input {
  padding: 10px;
  border-radius: 5px;
  border: 1px solid #ccc;
  font-size: 20px;
  width: 100%;
}

button[type="submit"] {
  background-color: #3870d1;
  color: #fff;
  padding: 10px 20px;
  border-radius: 5px;
  border: none;
  font-size: 22px;
  cursor: pointer;
  margin-top: 20px;
}

.result-container {
   font-size: 24px;
}